<div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <!-- insert your sidebar items here -->
                    <h3>Latest News</h3>
                    <h4>New Website Launched</h4>
                    <h5>{{ now_date }}</h5>
                    <p>Some news<br/><a
                            href="#">Read more</a></p>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Search</h3>
                    <form method="post" action="#" id="search_form">
                        <p>
                            <input class="search" type="text" name="search_field" value="Enter keywords....."/>
                            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;"
                                   src="style/search.png" alt="Search" title="Search"/>
                        </p>
                    </form>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        <div id="content">
		<p><b>Study programm</b></p>
		<p><b>first-quarter</b></p>
		<table>
			<tr class="head">
				<th></th>
				<th>Description</th>
				<th>Lecturer</th>
				<th>Start Study</th>
			</tr>
			<tr>
				<th>Basic Python</th>
				<td>Some text</td>
				<td>Maria Andreeva</td>
				<td>Some date</td>
			</tr>
			<tr class="even">
				<th>Linux. Work station</th>
				<td>Some text</td>
				<td>Oleg Maslov</td>
				<td>Some date</td>
			</tr>
			<tr>
				<th>MySql</th>
				<td>Some text</td>
				<td>Aleandr Vlasenko</td>
				<td>Some date</td>
			</tr>
			<tr class="even">
				<th>Algoritms</th>
				<td>Some text</td>
				<td>Dmitriy Chitalov</td>
				<td>Some date</td>
			</tr>
		</table>
	<p><b>second-quarter</b></p>
		<table>
			<tr class="head">
				<th></th>
				<th>Description</th>
				<th>Lecturer</th>
				<th>Start Study</th>
			</tr>
			<tr>
				<th>HTML / CSS</th>
				<td>Some text</td>
				<td>Aleksei Kadochnikov</td>
				<td>Some date</td>
			</tr>
			<tr class="even">
				<th>Basic JavaScript</th>
				<td>Some text</td>
				<td>Artem Shashkov</td>
				<td>Some date</td>
			</tr>
			<tr>
				<th>Basic Django</th>
				<td>Some text</td>
				<td>Evgenii Puhov</td>
				<td>Some date</td>
			</tr>
			<tr class="even">
				<th>Django 2</th>
				<td>Some text</td>
				<td>Evgenii Puhov</td>
				<td>Some date</td>
			</tr>

		</table>
        </div>
    </div>