<div id="content_header"></div>
<div id="site_content">
    <div id="banner"></div>
    <div id="sidebar_container">

        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_base"></div>
        </div>
    </div>
    <div id="content">
        <form method="post" action="">
            <p><b>email:</b><input name="email" type="email"><br>
            <p><b>your name:</b><br>
                <input name='name' type="text" size="40">
            </p>
            <p><b>message:</b><br>
                <textarea name="message" cols="60" rows="8"></textarea>
            </p>
            <p><input type="submit" value="Send message">
                <input type="reset" value="Clear message"></p>
        </form>
    </div>
</div>>