<div id="content_header"></div>
<div id="site_content">
    <div id="banner"></div>
    <div id="sidebar_container">

        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
            <div class="sidebar_top"></div>
            <div class="sidebar_base"></div>
        </div>
    </div>
    <div id="content">
        <h1>Python developer</h1>
        <table>
            <tr class="head">
                <th>Course</th>
                <th>Description</th>
                <th>Number of classes</th>
                <th>durations</th>
            </tr>
            <tr>
                <th>Basic Python</th>
                <td>Some Some Some Some text</td>
                <td>8</td>
                <td>2 hours</td>
            </tr>
            <tr class="even">
                <th>Linux. Work Station</th>
                <td>Some Some Some Some text</td>
                <td>8</td>
                <td>2 hours</td>
            </tr>
            <tr class="even">
                <th>MySql(Data Base)</th>
                <td>Some Some Some Some text</td>
                <td>8</td>
                <td>2 hours</td>
            </tr>
            <tr class="even">
                <th>Algoritms</th>
                <td>Some Some Some Some text</td>
                <td>8</td>
                <td>2 hours</td>
            </tr>
        </table>
    </div>
</div>