<div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1></h1>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="create_course">Course</a>
                </li>
                <li>
                    <a href="create_category">Category</a>
                </li>
                <li>
                    <a href="create_student">Students</a>
                </li>
            </ul>
        </div>
    </div>