<div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/"><span class="logo_colour">GEEKBRAINS UNIVERSITY</span></a></h1>
                <h2>Python Developer</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="description">Description</a>
                </li>
                <li>
                    <a href="creator">Creator</a>
                </li>
                <li>
                    <a href="contacts">Contact Us</a>
                </li>
                <li>
                    <a href="category_lists">Lists</a>
                </li>
            </ul>
        </div>
    </div>